PROJECTPATH="/absolute/path/to/current/directory"
JDBCJARFILE="/usr/share/java/mysql-connector-j-8.0.32.jar"
JDBCCONNSTRING="jdbc:mysql://localhost:3306/es_db"
JDBCUSER="mysqluser"
JDBCPASS="mysqlpass"
ELASTICHOST="your.domain.or.ip:9200"
ELASTICSSL="use only the string true or the string false"
ELASTICUSER=""
ELASTICPASS=""
